[submodule "week2/day08/labB"]
	path = week2/day08/labB
	url = git@github.com:andrewdstrain/Bot.git
[submodule "week2/day10/lab/LinkedList"]
	path = week2/day10/lab/LinkedList
	url = git@github.com:andrewdstrain/LinkedList.git
