[submodule "week2/day08/labB"]
	path = week2/day08/labB
	url = git@github.com:andrewdstrain/Bot.git
[submodule "week2/day10/lab/LinkedList"]
	path = week2/day10/lab/LinkedList
	url = git@github.com:andrewdstrain/LinkedList.git
[submodule "week3/day13/labB"]
	path = week3/day13/labB
	url = git@github.com:andrewdstrain/Tic-Tac-Toe.git
[submodule "week4/CucumberTest"]
	path = week4/CucumberTest
	url = git@github.com:LionelBeato/CucumberTest.git
[submodule "week4/Week4LabA.wiki"]
	path = week4/Week4LabA.wiki
	url = git@github.com:JoshuaJVB/Week4LabA.wiki.git
[submodule "week5/Day23/deployment"]
	path = week5/Day23/deployment
	url = https://github.com/andrewdstrain/deployment.git
[submodule "week4/testCucumber"]
	path = week4/CucumberTest
	url = git@github.com:LionelBeato/CucumberTest.git
[submodule "week6/Day27/theone"]
	path = week6/Day27/theone
	url = git@github.com:andrewdstrain/theone.git
[submodule "week6/Day28/mySQLHerokuDemo"]
	path = week6/Day28/mySQLHerokuDemo
	url = git@github.com:andrewdstrain/mySQLHerokuDemo.git
